#section6{
    background: var(--menu);
    height: auto;
}

#chrome{
   opacity: 0;
}
.formulario{
    display:flex;
    height: 100%;
}

.img-form{
    display: block;
    width: 40%;
}

.cont-img{
    width:400px;
    height: 100%;
}

.img-contact{
display: block;
width: 100%;
height: 100%;
}
.div-form{
    width: 60%;
    height: 100%;
   
}

.form-container{
    width: 100%; 
    
}

.form-container h2{
    margin:  10px 45px;
}

.form-container p{
    margin:  0px 45px;
}

.grupo{
    position: relative;
    margin: 15px;
}
 
.form-input{
    font-family: inherit;
    background: none;
    color: var(--letra-img);
    font-size: 1rem;
    padding:0.5em 0.5em;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--fondoClaro);
}
::placeholder { 
    color: var(--letra-img);
    font-family: inherit;
    font-size: 1rem;
}
.input-mensaje{
    resize: none;
   
}

.form-input:focus{ 
    outline: none;
    color: var(--letra-img);
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}


.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: var(--botonContac);
    transition: 0.3s ease width;
    left: 0;
}

.form-input:focus~.barra::before{
    width: 100%;
}


.form-enviar{
    font-family: 'roboto';
    background: var(--botonContac);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width: 1000px){
    .img-form{
        display: none;
    }

    .div-form{
        width: 100%;
    }
}



/*#section6{
    background: var(--menu);
    height: 600px;
}

.formulario{
    display:flex;
    height: 100%;
}

.img-form{
    display: block;
    width: 40%;
}

.cont-img{
    width:400px;
    height: 100%;
}

.img-contact{
display: block;
width: 100%;
height: 100%;
}

.div-form{
    width: 60%;
    height: 100%;
}

.form-container{
    width: 100%;
    height: 100%;
}
.form-container h2{
    margin:  10px 45px;
}
.form-container p{
    margin:  0px 45px;
}

.form-input{
    display: block;
    font-family: inherit;
    background: none;
    color: var(--letra-img);
    font-size: 1rem;
    padding:0.3em 0.2em;
    margin: 0.3em 0.2em;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--fondoClaro);
}
::placeholder { 
    color: var(--letra-img);
    font-family: inherit;
    font-size: 1rem;
}
.input-mensaje{
    resize: none;
   
}
.form-input:focus{ 
    outline: none;
    color: var(--letra-img);
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}


.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: var(--botonContac);
    transition: 0.3s ease width;
    left: 0;
}

.form-input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: var(--letra-img);
    padding-top: 20px;
    font-weight: 700;
}

.form-enviar{
    font-family: 'roboto';
    background: var(--botonContac);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width: 1000px){
    .img-form{
        display: none;
    }

    .div-form{
        width: 100%;
    }
}
*/
